<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="rule 1M" stopProcessing="true">
          <match url="^(.*)$"  />
          <conditions>
            <!-- if no file by that name exists -->
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <!-- if a directory by that name does exist -->
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="false" />
          </conditions>
          <action type="Rewrite" url="/index.php?path={R:1}"  />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>