<!DOCTYPE html>
<!--[if lt IE 7]><html class="ie lt-ie10 lt-ie9 lt-ie8 lt-ie7" lang="en"><![endif]-->
<!--[if IE 7]><html class="ie lt-ie10 lt-ie9 lt-ie8 ie7" lang="en"><![endif]-->
<!--[if IE 8]><html class="ie lt-ie10 lt-ie9 ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie lt-ie10 ie9" lang="en"><![endif]-->
<!--[if !IE]><!--><html lang="en"><!--<![endif]-->
    <head>
        <meta charset="UTF-8">
        <title>OLA Validation Tool</title>
        <base href="{{base}}">
        <link rel="icon" href="favicon.ico">
        {% block stylesheets %}
            <!--[if lt IE 9]>
                <script src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
            <![endif]-->
            <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="css/main.css">
            <link rel="stylesheet" href="css/{{ configuration.partner | lower | replace({' ': '-'}) }}.css">
        {% endblock %}
    </head>
    <body>
        
        <header>
            <div id="top">
                <div class="left">
                    <img src="img/partners/{{ configuration.partner | lower | replace({' ': '-'}) }}/logo.jpg">
                </div>
                <div class="right">
                    {% if configuration.brand %}
                        <img src="img/clients/{{ configuration.client | lower | replace({' ': '-'}) }}/logo.jpg">
                    {% endif %}
                </div>
            </div>
            <div id="mainHeader">
                <div class="wrapper">
                    <h1>Ola</h1>
                    <h2>Validation tool</h2>
                </div>
            </div>
        </header>

        <div id="main" class="wrapper">
            {% block content %}
            {% endblock %}
        </div>

        {% block scripts %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
            <script src="js/main.js"></script>
            
            <script type="text/javascript" src="js/vendor/jquery/jquery.zclip.min.js"></script>
            <script type="text/javascript">
                //$(document).ready(function(){
                    //$("#copy-button").click(function () {
                

                $("#copy-button").zclip({
                    path:'js/vendor/jquery/ZeroClipboard.swf',
                    copy: $("div#copy").text(),
                    afterCopy: function copiado(){
                                    $("p#copied").show("slow");
                                }
                }); 
                    
               // });
            </script>
        {% endblock %}
    </body>
</html>
